name: CI

on:
  merge_group:
  push:
    branches:
      - 'master'
  pull_request:

permissions: {}
jobs:
  lint:
    permissions:
      contents: read # to fetch code (actions/checkout)

    name: Mypy
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Disable man-db to speed up apt
      run: |
        echo 'set man-db/auto-update false' | sudo debconf-communicate >/dev/null
        sudo dpkg-reconfigure man-db
    - name: Install apt dependencies
      run: sudo apt update && sudo apt install -y libcairo2-dev libgirepository1.0-dev python3-gnucash
    - name: Install dependencies
      uses: py-actions/py-dependency-install@v4
      with:
        path: requirements.txt
    - name: Run mypy
      env:
        MYPY_PATH: stubs/
      run: mypy gnucash_import.py stubs/ --strict
